body {
    width: 300px;
    height: 400px;
}

/* Nav Bar */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
    list-style-type: none;
    font-size: 20px;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
    text-decoration: none;
  }

  .stats {
    font-size: 8px;
  }

.start {
  padding-top: 25%;
  text-align: center;
  display: flex;
  flex: 1;
  justify-content: center;
  flex-direction: column;
}
.quizButton {
    background-color: #333;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    width: 100px;
  }

